
.grid{
	width:600px;
	display: grid;
	grid-template-columns:350px 350px 350px;
	grid-template-rows:350px 350px;
	grid-gap:20px;
	justify-content: center;
	

	

}

.grid div{
	border: 1px solid rgb(0,95,107);
	background-color: rgba(0,95,107,0.8);
	padding:0.2em;
	color:#fff;
}