/* ================Main div section theme =====================*/
.SectionMainTheme{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
}


.SectionTheme{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
}
.GroupTheme{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

}
.Theme{
	height: 330px;
	width: 260px;
	cursor:pointer;
	-moz-box-shadow: 5px 5px 5px 0px #656565;
	-webkit-box-shadow: 5px 5px 5px 0px #656565;
	-o-box-shadow: 5px 5px 5px 0px #656565;
	box-shadow: 5px 5px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.ThemeCard{
	width: 100%;
	height: 100%;
}
