
.grid{
	display: grid;
	grid-template-columns:350px 350px 350px;
	grid-template-rows:350px 350px;
	grid-gap:20px;
	justify-content: center;
}

.grid div{
	border: 1px solid black;
	padding:0.2em;
	color:#fff;
}