
p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.HeaderHomePublic {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url('./../../Images/headerPublicHome.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: 100vh;
	color: #fff;
	font-family: roboto, sans-serif;
	letter-spacing: 2px;
    overflow: hidden;
}

.HeaderHomePublic h1 {
	font-size: 3rem;
	padding-top: 30px;
}

.logoBet{
	width: 22rem;
	margin-top: 60px;
}

.HeaderHomePublic img, .HeaderHomePublic h1{
	animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-fill-mode: backwards;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.HeaderHomePublic h1{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*
.HeaderHomePublic h1:after{
    content: '';
    display: block;
    margin: auto;
    animation-name: surlignage;
    height: 5px;
    -moz-transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -ms-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;

}

@keyframes surlignage{
      from {
    
    width: 0px;
    background: transparent;
  }

  to {
      width: 100%;
    background: white;
  }
}*/

@media (max-width: 768px){
    .HeaderHomePublic h1 {
	font-size: 2rem;
	padding-top: 30px;
    text-align: center;
}
.HeaderHomePublic{
    height: 100vh;
}

}