
.SectionHome {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 100%;
    color: rgb(80, 80, 80);
    text-align: center;
}

.SectionHome-description {
	padding: 50px 10%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.SectionHome-description span {
	color: #44c767;
	font-weight: bold;
}

.SectionHome-description p {
	font-size: 1.9rem;
	width: 80%;
	line-height: 2.6rem;
}

.SectionHome-description p:first-of-type {
	font-size: 2rem;
	font-weight: bold;
	margin: 10px;
    padding-bottom: 30px;
}

.SectionHome-title {
	color: #44c767;
	font-weight: bold;
	font-size: 3rem;
	margin: 30px auto;
}

.HomeEtape {
    margin-right:10%;
    margin-left:10%;
    text-align: left;
    margin-top: 50px;
}


.EtapeContenu{
    display: flex;
    flex-direction: row;
    margin-top: 27px;
}
.EtapeContenu p{
    width: 50%;
    padding: 0 20px;
    font-size: 20px;
    line-height: 32px;

}


.HomeEtape hr{
    height: .05em;
}

.HomeEtape:nth-child(1) .EtapeImage{
    background-image: url('./../../Images/daryn.jpg');
}

.HomeEtape:nth-child(2) .EtapeImage{
    background-image: url('./../../Images/michal.jpg');
    background-position: bottom;
}

.HomeEtape:nth-child(3) .EtapeImage{
    background-image: url('./../../Images/dominik.jpg');
    background-position: bottom;
}

.HomeEtape:nth-child(2) .EtapeContenu{
    flex-direction: row-reverse;
}

.EtapeRight{
    text-align: right;
}

.EtapeImage{
    background-size: cover;
	padding: 0;
    width: 50%;
    height: 300px;
    border-radius: 4px 4px 0 0;
}


.SectionHome-subtitle {
	color: #44c767;
	font-weight: bold;
	font-size: 1.5rem;
    padding-top: 60px;
}


.HomeItem {
    border: 1px solid #cccccc;
    width: 260px;
    margin: 10px 3%;
    cursor: pointer;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.3), Direction=134, Strength=5);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.HomeItem>div{
	padding: 30px 5px;
}

.GroupHomeItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}



.HomeItem:nth-child(1) .HomeCard {
	background-image: url('./../../Images/bragh.jpg');
}
.HomeItem:nth-child(2) .HomeCard {
	background-image: url('./../../Images/boston.jpg');
}
.HomeItem:nth-child(3) .HomeCard {
	background-image: url('./../../Images/rome.jpg');
}

.HomeItem .HomeCard {
	background-size: cover;
	padding: 0;
    width: 100%;
    height: 180px;
    border-radius: 4px 4px 0 0;
}

.HomeItem h2 {
    margin: 0;
    font-size: 1.2em;
	font-weight: bold;
	color: #44c767;
}

.HomeItem p {
    margin-top: 10px;
}

.EtapeContenu span{
    color: #44c767;
	font-weight: bold;
}

/*MEDIA QUERIES*/

@media (max-width: 768px){

.EtapeContenu{
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    justify-content: center;
}

.EtapeTitre .EtapeRight{
    text-align: center;
}


.EtapeContenu p{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.EtapeImage{
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

.HomeEtape {
    margin-right:5%;
    margin-left:5%;
    text-align: center;
    margin-top: 50px;
}

.EtapeRight{
    text-align: center;
}

.HomeEtape:nth-child(2) .EtapeContenu{
    flex-direction: column;
}

.SectionHome-description p{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
}
