.loginDiv{
    /*display: none;*/
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform:translateX(-50%);
}

.buttonLoginBottom{
    position: relative !important;
  bottom: 0 !important;
  right: 'auto';
}