
@import url('https://fonts.googleapis.com/css?family=Catamaran');

.footer{
    background-color: white;
    font-weight: 400;
    font-family: 'Catamaran', 'sans-serif';
}
.bloc_footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.infos_pratiques, .Services_clients, .A_propos, .Nos_autres_sites{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
  margin-left: 80px;

}

.footer .bloc_footer a{
  color:rgb(118, 118, 118);
  text-decoration: none;
  font-weight: 100;
}


.annexes{
  color :black;
  font-size: 16px;
  margin-top: 2px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 600;
}

.charte{
  display: flex;
  justify-content:center;
  align-items:center;
  color:white;

}

.icones_footer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 8px;
}

.icones_bloc{
  padding-left: 80px;
  display: flex;
  align-items: center;
}

.icone{
  padding-right: 10px;
}

.logo{
  width: 100px;
  padding-right: 80px;
}



.annexes:after {
 content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -moz-transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -ms-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
}
.annexes:hover:after {
    width: 100%;
    background: black;
}