.footer{
    background-color: #2a3843;


}
.bloc_footer{
  width: 100%;
  height: 25vh;
  display: flex;
}

.infos_pratiques, .Services_clients, .A_propos, .Nos_autres_sites{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
  justify-content:center;
  margin-left: 80px;

}

a{
  color:white;
}

 // a:hover {
 //    color: #1ab188;
 //    cursor: pointer;
 //  }

h1{
  color :black;
  font-size: 16px;
  margin-top: 2px;
  padding-bottom: 5px;
}

.logo{
  width: 5%;
  height: 10vh;
  margin-left: 1000px;
}




