.footer{
    background-color: #2a3843;


}
.bloc_footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.infos_pratiques, .Services_clients, .A_propos, .Nos_autres_sites{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
  margin-left: 80px;

}

a{
  color:white;
}


.annexes{
  color :black;
  font-size: 16px;
  margin-top: 2px;
  padding-bottom: 10px;
}

.logo{
  width: 30px;
  height: 30px;
}

.icones_footer{
  display: flex;
  justify-content: space-between;
 

}
.icones_bloc{
  padding-left: 80px;
}

.icone{
  padding-right: 10px;
}


