
/*NAVBAR*/
/*==========================================*/
/*====================*/


.navbar{
    border : 1em solid black;
    height : 50px;
    width: 100%;
}
.topHeader{
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    position: fixed;
    background-color: white;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
    z-index: 100;
}

/*Scroll animation navbar*/

.topHeaderMini{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    position: fixed;
    background-color: white;
    height: 38px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
}


