/*NAVBAR*/


/*==========================================*/


/*====================*/
body {
	font-family: 'Roboto', sans-serif;
}
p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button {
    cursor: pointer;
}

button, input, select {
    border: none;
    box-shadow: none;
    background-image: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.navbarContainer {
	z-index: 1000;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

.navbar {
   display: flex;
   justify-content: flex-end;
   padding: 15px 30px;
}


.navbar-right {
    z-index: 1000;
    outline: none;
    color: #fff;
    font-size: 15px;
    transition: ease 1s ;
}

.fa-user-circle-o {
   color: #fff;
   padding-right: 10px;
}

.navbar-right:hover{
    color: #44C767;
}
