/*NAVBAR*/


/*==========================================*/


/*====================*/

p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

button {
    cursor: pointer;
}

button, input, select {
    border: none;
    box-shadow: none;
    background-image: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.navbar-right button {
    display: flex;
    /*align-items: center;*/
    /*justify-content: flex-end;*/
    /*height: 50px;*/
    /*width: 200px;*/
    /*padding-top: 8px;
    padding-right: 15px;*/
    position: absolute;
    right: 30px;
    top: 15px;
    outline: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.fa-user-circle-o {
    color: #fff;
    padding-right: 10px;
}

.NavBar-log {
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
