/*p, a, h1, h2, h3, h4, h5, h6, ul, li, input, button {
    margin: 0;
    padding: 0;
    text-decoration: none;
}*/

button {
    cursor: pointer;
}

button, input, select {
    border: none;
    box-shadow: none;
    background-image: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.Header {
	z-index: 50;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.select-box {
    background: #fff;
    color: #1283C5;
    padding: 5px 10px;
    position: relative;
}

.select-box::after {
    content: "chevron";
    position: absolute;
    top: 0;
    right: 0;
}

.Header {
    position: relative;
    height: 500px;
    width: 100%;
    padding: 15px 10%;
    box-sizing: border-box;
    overflowX: hidden;
}

.Header-background {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-image: url("https://images.trvl-media.com/media/content/expvsc/graphics/v29/habillages/fi_hubagence_aut16.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -9999999;
}

.Header-form-container {
    margin-top: 12%;
    width: 100%;
}

.Header-form-header {
    width: 100%;
    flex-wrap: wrap;
}

.Header-transports-choice {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Header-transports-choice li button {
    color: #3e3d40;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    margin: 0 0.5px;
    z-index: 10;
    padding: 10px 20px;
    position: relative;
}

.Header-transports-choice li:first-child button {
    border-radius: 5px 0 0 5px;
}

.Header-transports-choice li:last-child button {
    border-radius: 0 5px 5px 0;
}

.Header-transports-choice li button:focus {
    background-color: #1283C5;
    color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
}

.Header-transports-choice li button:focus:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #1283C5 transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.Header-transports-choice li i {
    margin-right: 10px;
    font-size: 1.05rem;
}

.Header-btn-promo {
    position: relative;
    background-color: #fff;
    border: 1px solid #1283C5;
    color: #1283C5;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.Header-btn-promo span {
    position: absolute;
    top: 50%;
    transform: translate(-105%, -50%);
    font-size: 2rem;
    background-color: #1283C5;
    color: #fff;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.Header-btn-promo span i {
    position: relative;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.58);
    top: 2px;
    right: 1px;
}

.Header-form-content {
    background-color: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.31);
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
    border-bottom: 3px solid #1283C5;
}

.Header-form-content-header {
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 20px;
    background-color: #FAFAFA;
    font-size: 0.9rem;
}

.Header-form-content-header form {
    display: flex;
    align-items: center;
}

.Header-radio-label {
    margin-right: 15px;
    margin-left: 5px;
    padding-left: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.Header-radio-btn {
    display: none;
}

.Header-radio-label::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 50%;
}

.Header-form-content a {
    color: #1283C5;
}

.Header-form-content-main {
    padding: 15px 20px;
}

.Header-form-content-main hr {
    border: 0;
    border-top: 1px solid rgb(218, 218, 218);
}

.Header-form-content-main form {
    padding: 0 10px;
    width: 25%;
    box-sizing: border-box;
}

.Header-form-content-main form p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Header-form-content-main form span {
    position: absolute;
    right: 10px;
    bottom: 7px;
}

.Header-form-content-main form:nth-child(1) {
    width: 50%;
}

.Header-form-content-main form:nth-child(1) input {
    width: 100%;
}

.Header-form-content-main form:nth-child(1) input:focus {
    background-color: #e0ecf2;
}

.Header-form-content-main form:nth-child(1) span {
    position: absolute;
    top: 10px;
    left: 10px;
}

.Header-form-content-main input {
    border: none;
    box-shadow: none;
}

.Header-form-content-main form:nth-child(2) i {
    color: #1283C5;
}

.Header-form-content-main input {
    padding: 10px;
}

.Header-form-content-main form:not(:last-of-type) {
    border-right: 1px solid rgb(218, 218, 218);
}

.Header-form-content-main form select {
    background-color: transparent;
    color: #1283C5;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px 8px;
    width: 100%;
}

.Header-form-travel-class {
    padding: 10px 20px;
}

.Header-form-travel-class form label {
    margin: 0 10px;
}

/* =============================================================== */
/*======================== SHOW AND HIDE ADDITIONAL CONTENT =================*/
/* =============================================================== */

.Header-form-additional-content {
    height: 0%;
    position: relative;
}

.Header-form-additional-voyager {
    background-color: #EFF8FC;
    padding: 20px 20px 40px 20px;
    box-shadow: inset 0px 5px 6px -4px rgba(0, 0, 0, 0.35), inset 0px -6px 4px -4px rgba(0, 0, 0, 0.35);
}

.Header-voyager-number {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.Header-voyager-number button, .Header-voyager-number p {
    padding: 0 5px;
}

.Header-voyager-number button {
    color: #1283C5;
}

.Header-form-new-voyager {
    background-color: #D7EEFD;
    padding: 10px;
    border-radius: 3px;
    margin: 5px 0;
}

.Header-form-search {
    justify-content: center;
    position: relative;
    padding-top: 15px;
    align-items: center;
    font-size: 0.9rem;
}

.Header-form-search button:first-of-type {
    padding: 10px 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: #1283C5;
    color: #fff;
    font-weight: 300;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
}

.Header-form-search button:last-of-type {
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: #1283C5;
}


/* ===================================================================== */
/* =========================== MEDIA QUERIES =========================== */
/* ===================================================================== */

@media screen and (max-width: 640px) {
    .Header {
        height: 190px;
        width: 100%;
        padding: 15px 0;
        box-sizing: border-box;
        overflowX: hidden;
    }
    .Header-form-container {
        margin-top: 0;
        position: absolute;
        top: 100%;
    }
    .hide-sm {
        display: none;
    }
    .Header-transports-choice {
        width: 100%;
        flex-wrap: nowrap;
    }
    .Header-transports-choice li:first-child button, .Header-transports-choice li:first-child button {
        border-radius: 0;
    }
    .Header-transports-choice li button {
        border-right: 1px solid rgb(200, 200, 200);
        margin: 0;
        width: 33.33vw;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        box-shadow: none;
    }
    .Header-transports-choice button i {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .Header-form-content {
        margin-top: 0;
    }
    .Header-form-content-main form {
        width: 50%;
        box-sizing: border-box;
    }
    .Header-form-content-main form:nth-child(1) {
        width: 100%;
        border-right: none;
    }
}
