.PaymentForm{
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    font-family: roboto, sans-serif;
    margin-top: 50px;
    position: absolute;
    top: 20px;
    left: 22%;
    z-index: 2000;
}

.PaymentForm h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 10px;
}

.PaymentForm label p{
    color: white;
    font-size: 30px;
    padding-right: 10px;

}

.PaymentForm label{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.PaymentForm label input {
    color: #8A9297;
    font-size: 30px;
    border: 2px solid #179B77;
    width: 60%;
}

.loginButton {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.paymentCarte{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}